.c-job-offer-details {
    &__title {
        text-align: center;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__col {
        flex: 0 0 50%;
        margin-bottom: 1rem;

        &:first-child {
            font-weight: bold;
            text-decoration: underline;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;

        &-group {
            flex: 1 1 auto;
        }
    }
}

.button-icon {
    margin-right: 0.5rem;
}

@media (max-width: 576px) {
    .c-job-offer-details {
        &__col {
            flex: 0 0 100%;
        }

        &__actions {
            &-group {
                padding: 0.75rem 0;

                > * {
                    width: 100%;
                    margin: 0.5rem 0;
                }
            }
        }
    }
}
