<mat-dialog-content class="mat-typography">
    <div class="c-job-offer-details__content">
        <h2 mat-dialog-title class="c-job-offer-details__title">Job Offer Information</h2>

        <div class="c-job-offer-details__row">
            <div class="c-job-offer-details__col">Company</div>
            <div class="c-job-offer-details__col">{{ data.jobOffer.companyName }}</div>
        </div>

        <div class="c-job-offer-details__row">
            <div class="c-job-offer-details__col">Experience</div>
            <div class="c-job-offer-details__col">{{ data.jobOffer.experience }}</div>
        </div>

        <div class="c-job-offer-details__row">
            <div class="c-job-offer-details__col">Role</div>
            <div class="c-job-offer-details__col">{{ data.jobOffer.role }}</div>
        </div>

        <div class="c-job-offer-details__row">
            <div class="c-job-offer-details__col">Skills</div>
            <div class="c-job-offer-details__col">{{ data.jobOffer.skills }}</div>
        </div>

        <div class="c-job-offer-details__row">
            <div class="c-job-offer-details__col">Type</div>
            <div class="c-job-offer-details__col">{{ data.jobOffer.type }}</div>
        </div>
    </div>

    <div *ngIf="!loading && showApplicantData()" class="c-job-offer-details-applicant__content">
        <hr />
        <h2 mat-dialog-title class="c-job-offer-details__title">Applicant information</h2>

        <div class="c-job-offer-details__row">
            <div class="c-job-offer-details__col">First Name</div>
            <div class="c-job-offer-details__col">{{ seeker?.get('firstName') }}</div>
        </div>

        <div class="c-job-offer-details__row">
            <div class="c-job-offer-details__col">Last Name</div>
            <div class="c-job-offer-details__col">{{ seeker?.get('lastName') }}</div>
        </div>

        <div class="c-job-offer-details__row">
            <div class="c-job-offer-details__col">Email</div>
            <div class="c-job-offer-details__col">{{ seeker?.get('email') }}</div>
        </div>

        <div class="c-job-offer-details__row">
            <div class="c-job-offer-details__col">Phone</div>
            <div class="c-job-offer-details__col">{{ seeker?.get('phone') }}</div>
        </div>

        <div class="c-job-offer-details__row">
            <div class="c-job-offer-details__col">Gender</div>
            <div class="c-job-offer-details__col">{{ getGenderLabel(seeker?.get('gender')) }}</div>
        </div>
    </div>
</mat-dialog-content>

<div class="c-job-offer-details__actions" [ngStyle]="{ visibility: loading ? 'hidden' : 'visible' }">
    <mat-dialog-actions align="start" class="c-job-offer-details__actions-group">
        <button
            color="warn"
            mat-button
            mat-stroked-button
            mat-dialog-close
        >Close</button>

        <button
            mat-button
            mat-flat-button
            color="primary"
            *ngIf="role === 'seeker' && application"
            (click)="data.onClick(application.id, 'cancel')"
        >Cancel application</button>
    </mat-dialog-actions>

    <mat-dialog-actions align="end" class="c-job-offer-details__actions-group">
        <button
            mat-button
            mat-stroked-button
            *ngIf="role === 'seeker' && !favorite"
            [disabled]="false"
            (click)="data.onClick(data.jobOffer.id, 'favorite')"
        >
            <mat-icon class="button-icon">star</mat-icon>
            <span>Mark as favorite</span>
        </button>

        <button
            mat-button
            mat-flat-button
            color="accent"
            *ngIf="role === 'seeker' && favorite"
            [disabled]="false"
            (click)="data.onClick(favorite.id, 'unfavorite')"
        >
            <mat-icon class="button-icon">star</mat-icon>
            <span>Remove from favorites</span>
        </button>

        <button
            mat-button
            mat-flat-button
            color="primary"
            *ngIf="role === 'seeker'"
            [disabled]="application"
            (click)="data.onClick(data.jobOffer.id, 'apply')"
        >Apply</button>
    </mat-dialog-actions>
</div>
