.c-home {
    margin-top: 3rem;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.table {
    width: 100%;
}

.scrollable {
    overflow: auto;
}

.mat-cell,
.mat-header-cell {
    white-space: nowrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

@media (max-width: 576px) {
    .c-home {
        margin-top: 1rem;
    }
}
