<h2 mat-dialog-title>{{ data.jobOffer.companyName }}</h2>

<mat-dialog-content class="mat-typography">
  <h3>{{ data.jobOffer.role }}</h3>

  <p>Required experience: {{ data.jobOffer.experience }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="data.onClick(data.jobOffer.id, 'apply')">Apply</button>
  <button mat-button (click)="data.onClick(data.jobOffer.id, 'favorite')">Mark as favorite</button>
</mat-dialog-actions>
