<div class="c-sign-up">
    <div class="c-sign-up__container">
        <form
            class="c-sign-up__form"
            [formGroup]="signUpForm"
            (ngSubmit)="signUp()"
        >
            <h1>Sign up</h1>

            <div class="w-full">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Email</mat-label>

                    <input
                        matInput
                        type="email"
                        autocomplete="off"
                        formControlName="email"
                    />

                    <mat-hint *ngIf="getError('email')" [ngStyle]="{ color: 'red' }">
                        {{ getErrorMessage('email') }}
                    </mat-hint>
                </mat-form-field>
            </div>

            <div class="w-full">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Password</mat-label>

                    <input
                        matInput
                        type="password"
                        autocomplete="off"
                        formControlName="password"
                    />

                    <mat-hint *ngIf="getError('password')" [ngStyle]="{ color: 'red' }">
                        {{ getErrorMessage('password') }}
                    </mat-hint>
                </mat-form-field>
            </div>

            <div class="w-full">
                <label class="role-radio-label">Sign up as:</label>

                <mat-radio-group class="role-radio-group" aria-label="Select an option" formControlName="role">
                    <mat-radio-button class="role-radio-button" value="seeker">Job Seeker</mat-radio-button>
                    <mat-radio-button class="role-radio-button" value="recruiter">Recruiter</mat-radio-button>
                </mat-radio-group>

                <mat-hint *ngIf="getError('role')" [ngStyle]="{ color: 'red' }">
                    {{ getErrorMessage('role') }}
                </mat-hint>
            </div>

            <div class="w-full">
                <button
                    type="submit"
                    class="w-full"
                    color="primary"
                    mat-raised-button
                    [disabled]="signUpForm.invalid"
                >Sign Up</button>
            </div>

            <div class="c-sign-up__bg">
                <div>Already have an account?</div>
                <div><a routerLink="/sign-in">Click here to sign in</a> instead.</div>
            </div>
        </form>
    </div>
</div>
