<h2 mat-dialog-title>{{ data.jobOffer?.companyName || "Add new job" }}</h2>

<mat-dialog-content class="mat-typography">
    <form
        [formGroup]="jobForm"
        (ngSubmit)="submitForm()"
        class="c-job-offer-form"
    >
        <mat-form-field appearance="outline">
            <mat-label>Company Name</mat-label>
            <input formControlName="companyName" matInput placeholder="Company Name" />
            <mat-hint *ngIf="getError('companyName')" class="error">{{ getErrorMessage('companyName') }}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Experience</mat-label>
            <input formControlName="experience" matInput placeholder="Experience" />
            <mat-hint *ngIf="getError('experience')" class="error">{{ getErrorMessage('experience') }}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <input formControlName="role" matInput placeholder="Role" />
            <mat-hint *ngIf="getError('role')" class="error">{{ getErrorMessage('role') }}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Skills</mat-label>
            <input formControlName="skills" matInput placeholder="Skills" />
            <mat-hint *ngIf="getError('skills')" class="error">{{ getErrorMessage('skills') }}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <input formControlName="type" matInput placeholder="Type" />
            <mat-hint *ngIf="getError('type')" class="error">{{ getErrorMessage('type') }}</mat-hint>
        </mat-form-field>

        <button
            #jobOfferFormSubmit
            type="submit"
            class="w-full hidden"
            color="primary"
            mat-raised-button
        >Submit</button>
    </form>
</mat-dialog-content>

<div class="c-job-offer-form__actions">
    <mat-dialog-actions align="start" class="c-job-offer-form__actions-group">
        <button
            color="warn"
            mat-button
            mat-stroked-button
            mat-dialog-close
        >Cancel</button>
    </mat-dialog-actions>

    <mat-dialog-actions align="end" class="c-job-offer-form__actions-group">
        <button
            mat-button
            mat-flat-button
            color="primary"
            *ngIf="!data.jobOffer"
            [disabled]="jobForm.invalid"
            (click)="jobOfferFormSubmit._elementRef.nativeElement.click();"
        >Create</button>

        <button
            mat-button
            mat-flat-button
            color="primary"
            *ngIf="data.jobOffer"
            [disabled]="jobForm.invalid"
            (click)="jobOfferFormSubmit._elementRef.nativeElement.click();"
        >Update</button>
    </mat-dialog-actions>
</div>
